<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.min.css">
  </head>
  <body>
    {{{body}}}
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap-css/js/bootstrap.min.js"></script>
    <script src="/javascripts/mows.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/chat.js"></script>
  </body>
</html>
